// Header-Jumbotron //

header {
  margin: 0 auto;
  display: flex;
  height: 15rem;
  width: 100%;
  background-image: url(img/victor-freitas-Ovlel6acNac-unsplash.jpg);
  background-size: 100%;

  h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 9.5rem auto;
    text-shadow: 3px 3px black;
    line-height: 2.5rem;
  }

  @media @tablet {
    height: 20rem;

    h1 {
      font-size: 3rem;
      margin: 12rem auto;
      line-height: 3.5rem;
    }
  }

  @media @desktop {
    height: 33%;
    width: 100%;

    h1 {
      font-size: 5rem;
      margin: 18rem auto;
      line-height: 6rem;
    }
  }
}
// css

// h2{
//     font-size: 2.1rem;
//     text-align: center;
//     padding:1rem;

// }
// .card-section{
//     display:flex;

// }
// .gains{
//     align-items: center;
//     background-color: #9C9898;
//     display: flex;

//     justify-content: space-around;
//     margin: 0rem 6rem;
// }

// .sign-up{
//     display: flex;
//     border: black solid;

//     margin: 0rem 32rem;
//     align-items: center;
// }

.container {
  max-width: 50%;
  border: solid black 1px;
  margin: 20px auto;
}

.card-section {
  display: flex;
}
.card-section div {
  text-align: center;
  height: 150px;
}
.gains {
  background-color: #9c9898;
  width: 50%;
}

.sign-up {
  width: 50%;
}

h2 {
  font-size: 2rem;
  padding: 12%;
}
