// css

// h2{
//     font-size: 2.1rem;
//     text-align: center;
//     padding:1rem;

// }
// .card-section{
//     display:flex;
    
    
// }
// .gains{
//     align-items: center;
//     background-color: #9C9898;
//     display: flex;
  
//     justify-content: space-around;
//     margin: 0rem 6rem;
// }

// .sign-up{
//     display: flex;
//     border: black solid;
   
//     margin: 0rem 32rem;
//     align-items: center;
// }

.container{
    max-width:50%;
    border: solid black 1px;
    margin: 20px auto;
}

.card-section{
    display: flex;
    
}
.card-section div{
    text-align:center;
    height: 150px;
}
.gains{
    background-color:#9C9898; 
    width: 50%;
}

.sign-up{
    width: 50%;
}

h2{
    font-size: 2rem;
    padding:12%;
}
